<stralo-page-empty>
    <title property="title">$!title</title>
    <blocks-layout data-property="content">
        <div class="container" data-property="container">
            <div class="row">
                <div class="col-md-12">
                    <blocks-breadcrumb></blocks-breadcrumb>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-8">
                    <h1>$!title</h1>
                    <p>
                        $!description
                    </p>
                </div>
            </div>
        </div>
    </blocks-layout>
</stralo-page-empty>
