//-----VARIABLES-----
//needed to make asset packing work
@bootstrap-font-path: "/assets/webjars/bootstrap/3.3.4/fonts/";

@color-primary: #4396FF;
@color-primary-inv: #FFFFFF;

@text-color-1: #333333;
@text-color-2: #666666;
@text-color-3: #ffffff;
@text-color-4: @color-primary;

@bg-color-1: #ffffff;
@bg-color-2: #F5F5F5;
@bg-color-3: #CECECE;
@bg-color-4: @color-primary;

@border-color-1: #eeeeee;
@border-color-2: #ffffff;
@border-color-2: #c1c1c1;

@header-height: 50px;
@header-margin-bottom: 0;
@header-color: #333333;
@header-bg-color: #ffffff;
@header-shadow-size: 3px;
@header-shadow-color: #cccccc;

@footer-height: 36px;
@footer-top-pct: 1.0;
@footer-bottom-pct: 0.0;
@footer-top-bg-color: #292929;
@footer-bottom-bg-color: #171717;
@footer-shadow-size: 7px;
@footer-shadow-color: #000000;

@font-size-1: 13px;
@font-size-2: 15px;
@font-size-3: 18px;